body{
    max-width: 800px;
    margin: 32px auto;
    padding: 0 16px;
    line-height: 1.6;



    /* imagem de fundo */
    background-image: url('./imagens/background.jpg');

    /* não ficar repetindo a imagem */
    background-repeat: no-repeat;

    /* deixa a imagem cobrindo a tela toda proporcionamente */
    background-size: cover;

    /* imagem centralizada */
    background-position: center center;

    /* mantém imagem fixa ao rolar o site */
    background-attachment: fixed;
}

header {
    text-align: center;
    padding-top: 130px;
    padding-bottom: 16px;
    border-bottom: 2px solid #ccc;
}

.section-header {
    background-color: rgba(173, 216, 230, 0.783);
    padding-top: 15px !important;    /* Quase encosta no topo da imagem */
    padding-bottom: 15px !important; /* Diminui o espaço na parte de baixo */
    height: auto !important;
    
}

.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    /* pra n esmagar a foto */
    object-fit: cover;
    /* deixar uma borda na foto */
    border: 3px solid #1a1919;
}

section {
    /* cor de fundo das sections */
    background: rgba(173, 216, 230, 0.783);
    /*Espacaçamento dentro das sections*/
    padding: 16px 24px;

    margin: 24px 0;
    /* arredonda os cantos das sections */
    border-radius: 8px;
    /* adiciona sombra as sections*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.imagem-botão {
    width: 20px;
    height: auto;
    border-radius: 12px;

    /* Remove espaços invisíveis abaixo da imagem */
    display: block;
}

.button {
    /* tira o fundo */
    background: transparent !important; 
    
    /* tira a borda*/
    border: none !important;            
    
    /* Remove espaços internos */
    padding: 0;                         
    
    /* cursor vira "mãozinha" qnd passa por cima do ícone */
    cursor: pointer;                    
    
    /* Faz o mouse virar a "mãozinha" de clique */
    outline: none;                      
}
